<div class="content">
  <header class="scores-header">
    <h1 class="scores-title">High Scores</h1>
    <%= link_to 'Back to Home', root_path , class: "link" %>
  </header>
  <table id='scores'>
    <% if @scores.length > 0 %>
    <tr>
      <th>Name</td>
      <th>Time</td>
    </tr>
    <%= render @scores %>
    <% else %>
      <tr><th>No Scores Yet...</th></tr>
    <% end %>
  </table>
</div>