// Place all the styles related to the puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.puzzles-index {
  font-family: 'Permanent Marker', "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.image-small {
  width: 200px;
  flex: none;
}

.puzzles-wrapper {
  margin: 0 auto;
  display: flex;
  width: 400px;
}
@media (max-width: 400px) {
  .puzzles-wrapper {
    width: 100vw;
  }
}

.puzzles {
  max-width: 100vw;
  flex-basis: 400px;
  flex-shrink: 1;
}

.puzzles-header {
  padding: 30px;
  h1 {
    text-align: center;
  }
}

.puzzle {
  display: flex;
  border: 5px red solid;
  border-radius: 5px;
  margin: 10px 0;
  justify-content: space-between;
  h2 {
    text-align: center;
  }
  .difficulty {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
  }
}