.content {
  margin: 0 auto;
  width: 800px;
}
@media (max-width: 800px) {
  .content {
    width: 100vw;
  }
}

.scores-header {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.scores-title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 40px;
}

#scores {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  td,th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #af4f4c;
    color: white;
  }
}
