.content {
  margin: 0 auto;
  width: 800px;
}

.scores-header {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.scores-title {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}

#scores {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#scores td, #scores th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#scores tr:nth-child(even){background-color: #f2f2f2;}

#scores th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #af4f4c;
  color: white;
}