* {
  box-sizing: border-box;
}

main {
  width: 100%;
}

.image-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1800px;
}

img {
  max-width: 1800px;
  display: block;
}

.select {
  position: absolute;
  display: flex;
}

.select ul {
  background-color: black;
  color: white;
  font-size: 14pt;
}

.select li:hover {
  background-color: grey;
  cursor: pointer;
}

.select-box {
  width: 40px;
  height: 60px;
  border: 5px solid black;
}