* {
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-wrapper {
  position: relative;
}

img {
  max-width: 1800px;
}

.select-box {
  position: absolute;
  width: 40px;
  height: 60px;
  border: 5px solid black;
}