<%= link_to puzzle do %>
  <li class="puzzle">
    <%= image_tag puzzle.image.name, class: 'image-small'%>
    <div class="difficulty">
      <h2><%= puzzle.difficulty %></h2>
    </div>
  </li>
<% end %>